@model List<WebApplication2.Models.Student>
@{
    ViewBag.Title = "Student List";
}

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>View</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var student in Model)
            {
                <tr>
                    <td>@student.StudentId</td>
                    <td>@student.Name</td>
                    <td class="text-center"><a href="/Student/GetStudent/@student.StudentId">ViewStudentDetails</a></td>
                    <td> <a type="button" asp-action="Create" class="btn btn-primary">Add</a></td>
                    <td>
                        <a type="button" asp-action="Update" class="btn btn-success">Update</a>
                    </td>
                    <td><a type="button" asp-controller="Student" asp-action="Delete" class="btn btn-danger">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>